@tailwind base;
@tailwind components;
@tailwind utilities;

/*below CSS to specify how many lines of text should be visible before truncating
can change the number in -webkit-line-clamp */
.lines{
overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 4;
}